.settings {
   cursor: pointer;
   transition: 0.2s ease-in-out;
   border-radius: 5px;
   padding: 1px 5px;
   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Old versions of Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
   /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.settings:hover {
   background: var(--surface-container-low);
}

h1 {
   font-family: 'Thestral';
   color: var(--color-font-focus);
   font-size: 1.5rem;
   margin: 0;
   padding-bottom: 0.5rem;
}

.head {
   border-bottom: 1px solid var(--outline);
   padding-bottom: 2rem;
   line-height: 1.25;
}

.setting {
   padding-top: 2rem;
}

.setting-head {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 3px;
}

.setting-head .options {
   display: flex;
   gap: 20px;
}


.setting-head .options div {
   padding: 0.4rem;
   font-size: 0.75rem;
   border-radius: 8px;
   cursor: pointer;
   transition: 0.25s ease-in-out;
   border: 1px solid rgba(0, 0, 0, 0);
   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Old versions of Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
   /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.setting-head .options div:hover {
   background: var(--surface-container-high);
}

.setting-head .options .active-option {
   background: var(--surface-container-high);
   color: var(--color-font);
   border: 1px solid var(--outline);
}

h2 {
   font-weight: normal;
   color: var(--color-font);
   font-size: 0.9rem;
   margin: 0;
   display: inline-block;
}

svg {
   width: 50px;
   height: 26px;
   overflow: hidden;
   cursor: pointer;
   -webkit-touch-callout: none;
   /* iOS Safari */
   -webkit-user-select: none;
   /* Safari */
   -khtml-user-select: none;
   /* Konqueror HTML */
   -moz-user-select: none;
   /* Old versions of Firefox */
   -ms-user-select: none;
   /* Internet Explorer/Edge */
   user-select: none;
   /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

rect {
   width: calc(100% - 1px);
   height: calc(100% - 1px);
   /* height: 100%; */
   stroke: var(--outline-variant);
   /* stroke-width: 2; */
}

circle {
   fill: var(--surface-container-highest);
   height: calc(100% - 8px);
   transition: 0.2s cubic-bezier(.25, .52, .64, .84);
}

rect.active {
   stroke: var(--outline);
}

circle.storage-active {
   transform: translateX(50%);
   fill: var(--secondary);
}

p {
   margin: 0;
   width: 320px;
}

.modal {
   position: absolute;
   left: 0;
   right: 0;
   width: 500px;
   /* height: 300px; */
   margin: 0 auto;
   margin-top: 15vh;
   padding: 30px;
   font-size: 0.8rem;
   color: var(--color-font-faded);
   border-radius: 8px;
   background: var(--surface-container);
   z-index: 2;
}

.modal-back {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.3);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 1;
}

.modal-main {
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 10;
}