@font-face {
  font-family: 'Thestral';
  src: url('./font/Thestral-Bold.woff2') format('woff2');
}

:root {
  --light100: rgb(255, 255, 255);
  --light200: rgb(228, 228, 228);
  --light300: rgb(209, 209, 209);
  --light400: rgb(191, 191, 191);
  --light401: rgb(189, 189, 189);
  --light500: rgb(182, 182, 182);
  --light600: rgb(155, 155, 155);
  --light601: rgb(167, 167, 167);
  --light700: rgb(137, 137, 137);
  --light800: rgb(118, 118, 118);
  --light900: rgb(100, 100, 100);

  --dark100: rgb(0, 0, 0);
  --dark200: rgb(9, 9, 9);
  --dark300: rgb(27, 27, 27);
  --dark400: rgb(46, 46, 46);
  --dark500: rgb(64, 64, 64);
  --dark600: rgb(82, 82, 82);


  /* NEW BELOW */

  /* Secondary blues */
  /* --dark-blue: hsl(229, 24%, 13%); #191c29 */
  --dark-blue: hsl(232, 21%, 14%); /* #1c1e2b */
  --dark-blue-button-hover: hsl(232, 21%, 17%);

  --white-0: rgb(255, 255, 255);
  --white-1: rgb(242, 242, 242);
  --white-2: rgb(230, 230, 230);
  --white-3: rgb(217, 217, 217);
  --white-4: rgb(204, 204, 204);
  --white-5: rgb(191, 191, 191);
  --white-6: rgb(179, 179, 179);
  --white-7: rgb(166, 166, 166);
  --white-8: rgb(153, 153, 153);
  --white-9: rgb(140, 140, 140);

  --neutral: rgb(128, 128, 128);

  --black-0: rgb(115, 115, 115);
  --black-1: rgb(102, 102, 102);
  --black-2: rgb(89, 89, 89);
  --black-3: rgb(77, 77, 77);
  --black-4: rgb(64, 64, 64);
  --black-5: rgb(51, 51, 51);
  --black-6: rgb(38, 38, 38);
  --black-7: rgb(26, 26, 26);
  --black-8: rgb(13, 13, 13);
  --black-9: rgb(0, 0, 0);

  /* White alphas */
  --white-alpha-0: rgba(255, 255, 255, 0.04);
  --white-alpha-1: rgba(255, 255, 255, 0.05);
  --white-alpha-2: rgba(255, 255, 255, 0.06);
  --white-alpha-3: rgba(255, 255, 255, 0.07);
  --white-alpha-4: rgba(255, 255, 255, 0.08);
  --white-alpha-5: rgba(255, 255, 255, 0.09);
  --white-alpha-6: rgba(255, 255, 255, 0.10);
  --white-alpha-7: rgba(255, 255, 255, 0.20);
  --white-alpha-8: rgba(255, 255, 255, 0.30);
  --white-alpha-9: rgba(255, 255, 255, 0.40);
  --white-alpha-10: rgba(255, 255, 255, 0.50);
  --white-alpha-11: rgba(255, 255, 255, 0.60);
  --white-alpha-12: rgba(255, 255, 255, 0.70);

  /* Black alphas */
  --black-alpha-0: rgba(0, 0, 0, 0.04);
  --black-alpha-1: rgba(0, 0, 0, 0.05);
  --black-alpha-2: rgba(0, 0, 0, 0.06);
  --black-alpha-3: rgba(0, 0, 0, 0.07);
  --black-alpha-4: rgba(0, 0, 0, 0.08);
  --black-alpha-5: rgba(0, 0, 0, 0.09);
  --black-alpha-6: rgba(0, 0, 0, 0.10);
  --black-alpha-7: rgba(0, 0, 0, 0.20);
  --black-alpha-8: rgba(0, 0, 0, 0.30);
  --black-alpha-9: rgba(0, 0, 0, 0.40);
  --black-alpha-10: rgba(0, 0, 0, 0.50);
  --black-alpha-11: rgba(0, 0, 0, 0.60);
  --black-alpha-12: rgba(0, 0, 0, 0.70);

  --font-main: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --header-font: 'Thestral';
    
}

  /* Default  Night Mode */
:root {
  /* NEW CSS */
  --color-background: #10131A;
  --color-background-rgb: 16, 19, 26;

  --cell-panel: var(--cold-blue);
  --cell-panel-rgb: 28, 30, 43;
  --cell-border: var(--light-12);
  --cell-backdrop: var(--white-alpha-3);

  --color-font: #cfcfcf;
  --color-font-focus: #e2e2e2;
  --color-font-faded: var(--neutral);

  --logo-filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  
  /* Blues */
  --cold-blue: hsl(232, 21%, 14%);
  --cold-blue-focus: hsl(232, 21%, 18%);
  --ice-blue: #7a90ca;

  /* alphas */
  --alpha-00: var(--white-alpha-0);
  --alpha-01: var(--white-alpha-1);
  --alpha-02: var(--white-alpha-2);
  --alpha-03: var(--white-alpha-3);
  --alpha-04: var(--white-alpha-4);
  --alpha-05: var(--white-alpha-5);
  --alpha-06: var(--white-alpha-6);
  --alpha-07: var(--white-alpha-7);
  --alpha-08: var(--white-alpha-8);
  --alpha-09: var(--white-alpha-9);
  --alpha-10: var(--white-alpha-10);
  --alpha-11: var(--white-alpha-11);
  --alpha-12: var(--white-alpha-12);


  --light-00: var(--white-0);
  --light-01: var(--white-1);
  --light-02: var(--white-2);
  --light-03: var(--white-3);
  --light-04: var(--white-4);
  --light-05: var(--white-5);
  --light-06: var(--white-6);
  --light-07: var(--white-7);
  --light-08: var(--white-8);
  --light-09: var(--white-9);
  --light-10: var(--neutral);
  --light-11: var(--black-0);
  --light-12: var(--black-1);
  --light-13: var(--black-2);
  --light-14: var(--black-3);
  --light-15: var(--black-4);
  --light-16: var(--black-5);
  --light-17: var(--black-6);
  --light-18: var(--black-7);
  --light-19: var(--black-8);
  --light-20: var(--black-9);

  --win: rgba(21, 106, 128, 0.2);
  --loss: rgba(150, 33, 33, 0.2);
  
  --parse100: #fabb1c;
  --parse85: #C76BFF;
  --parse75: #38CA46;
  --parse50: #F44D4D;

  --theme-icon: url('./solari.svg');
  --theme-mask-size: 100%;

}

/* Day mode */
.day {
  --color-background: #f0f0f0;
  --color-background-rgb: 240, 240, 240;

  --cell-panel: var(--white-3);
  --cell-panel-rgb: 217, 217, 217;
  --cell-border: var(--white-9);
  --cell-backdrop: var(--black-alpha-7);

  --color-font: #111111;
  --color-font-focus: var(--light-09);
  --color-font-faded: var(--light-02);

  --logo-filter: invert(30%) drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.5));

  --win: rgba(58, 184, 216, 0.45);
  --loss: rgba(226, 91, 91, 0.45);

  --parse100: #d89228;
  --parse85: #aa52e0;
  --parse75: #17a025;
  --parse50: #ec2121;

  --theme-icon: url('./lunari.svg');
  --theme-mask-size: 80%;

  /* Blues */
  --cold-blue: hsl(0, 0%, 87%);
  --cold-blue-rgb: 209, 211, 225;
  --cold-blue-focus: hsl(0, 0%, 80%);
  --ice-blue: #7a90ca;

  --alpha-00: var(--black-alpha-6);
  --alpha-01: var(--black-alpha-1);
  --alpha-02: var(--black-alpha-2);
  --alpha-03: var(--black-alpha-3);
  --alpha-04: var(--black-alpha-4);
  --alpha-05: var(--black-alpha-5);
  --alpha-06: var(--black-alpha-6);
  --alpha-07: var(--black-alpha-7);
  --alpha-08: var(--black-alpha-8);
  --alpha-09: var(--black-alpha-9);
  --alpha-10: var(--black-alpha-10);
  --alpha-11: var(--black-alpha-11);
  --alpha-12: var(--black-alpha-12);


  --light-00: var(--black-0);
  --light-01: var(--black-1);
  --light-02: var(--black-2);
  --light-03: var(--black-3);
  --light-04: var(--black-4);
  --light-05: var(--black-5);
  --light-06: var(--black-6);
  --light-07: var(--black-7);
  --light-08: var(--black-8);
  --light-09: var(--black-9);

  --light-10: var(--neutral);

  --light-11: var(--white-9);
  --light-12: var(--white-8);
  --light-13: var(--white-7);
  --light-14: var(--white-6);
  --light-15: var(--white-5);
  --light-16: var(--white-4);
  --light-17: var(--white-3);
  --light-18: var(--white-2);
  --light-19: var(--white-1);
  --light-20: var(--white-0);

}

body {
  background: var(--color-background);
  transition: background 0.25s;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
   font-weight: normal;
   font-size: 2rem;
   color: var(--color-font);
}