:root {
  --light100: rgb(255, 255, 255);
  --light200: rgb(228, 228, 228);
  --light300: rgb(209, 209, 209);
  --light400: rgb(191, 191, 191);
  --light401: rgb(189, 189, 189);
  --light500: rgb(182, 182, 182);
  --light600: rgb(155, 155, 155);
  --light601: rgb(167, 167, 167);
  --light700: rgb(137, 137, 137);
  --light800: rgb(118, 118, 118);
  --light900: rgb(100, 100, 100);

  --dark100: rgb(0, 0, 0);
  --dark200: rgb(9, 9, 9);
  --dark300: rgb(27, 27, 27);
  --dark400: rgb(46, 46, 46);
  --dark500: rgb(64, 64, 64);
  --dark600: rgb(82, 82, 82);

  --font-main: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  /* Default  Night Mode */
:root {
  --color-background: #0d111c;
  --searchHover: #151a2b;
  --color-font: var(--light200);
  --runeMythic: #2e3341;
  --hoverButton: rgba(255, 255, 255, 0.1);

  --win: rgba(21, 106, 128, 0.2);
  --loss: rgba(150, 33, 33, 0.2);

  /* --tint100: #262933; */
  /* --tint100RGB: 38, 41, 51; */
  --tint100: #191c29;
  --tint100RGB: 25, 28, 41;
  --tint200: #3c3f48;
  --tint300: #595c63;
  --tint301: #44474f;
  --tint400: #818181;

  --parse100: #fabb1c;
  --parse85: #C76BFF;
  --parse75: #38CA46;
  --parse50: #F44D4D;

  --bar2: #7a90ca;
  --themeIcon: url('./sun.svg');
}

/* Day mode */
.day {
  --color-background: #fff;
  --searchHover: #fff;
  --color-font: #000;
  --runeMythic: var(--light400);
  --hoverButton: rgba(0, 0, 0, 0.1);

  --win: rgba(66, 168, 194, 0.4);
  --loss: rgba(226, 72, 72, 0.4);

  --tint100: var(--light300);
  --tint100RGB: 209, 209, 209;
  --tint200: var(--light400);
  --tint300: var(--light500);
  --tint301: var(--light500);
  --tint400: var(--light900);

  --parse100: #d89228;
  --parse85: #aa52e0;
  --parse75: #17a025;
  --parse50: #ec2121;

  --bar2: #75a6e7;
  --themeIcon: url('./moon.svg')
}

body {
  background: var(--color-background);
  transition: background 0.25s;
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
   font-weight: normal;
   font-size: 2rem;
   color: var(--color-font);
}