:root {
  /* Light */
  --light100: rgb(255, 255, 255);
  --light200: rgb(228, 228, 228);
  --light300: rgb(209, 209, 209);
  --light400: rgb(191, 191, 191);
  --light500: rgb(173, 173, 173);
  --light600: rgb(155, 155, 155);
  --light700: rgb(137, 137, 137);
  --light800: rgb(118, 118, 118);
  --light900: rgb(100, 100, 100);

  --light300RGB: 209, 209, 209;
  --light200_o: rgba(228, 228, 228, 0.75);
  --light300_o: rgba(209, 209, 209, .65);
  --lightWin: rgba(116, 214, 116, 0.603);
  --lightLoss: rgba(236, 125, 125, 0.603);
  
  /* Dark */
  --dark100: rgb(0, 0, 0);
  --dark200: rgb(9, 9, 9);
  --dark300: rgb(27, 27, 27);
  --dark400: rgb(46, 46, 46);
  --dark500: rgb(64, 64, 64);
  --dark600: rgb(82, 82, 82);

  --dark100_o: rgba(0, 0, 0, 0.65);
  --dark100_o2: rgba(0, 0, 0, 0.45);
  --darkWin: rgba(0, 255, 0, 0.062);
  --darkLoss: rgba(255, 0, 0, 0.075);

  /* Bloo (shade & tint)*/
  --blue000: #1f2a42;
  --blue100s: #1C263C;
  --blue200s: #1c263c;
  --blue300s: #161e2e;
  --blue400s: #131928;
  --blue500s: #101521;
  --blue600s: #0C111B;
  --blue700s: #090D14;

  --blue100t: #2D3955;
  --blue200t: #3C4A68;
  --blue300t: #4D5C7B;
  --blue400t: #616F8E;
  --blue500t: #7684A1;
  --blue600t: #8D9AB4;
  --blue700t: #A7B1C6;

  --blue100tRGB: 45, 57, 85;
  --blue400s_o: rgba(19, 25, 40, 0.6);
  --blue300s_o: rgba(22, 30, 46, 0.35);

  /* Parses */
  --parseLight1: #db8d17;
  --parseDark1: #fabb1c;
  --parseLight2: #A645E1;
  --parseDark2: #C76BFF;
  --parseLight3: #00970F;
  --parseDark3: #38CA46;
  --parseLight4: #D20000;
  --parseDark4: #F44D4D;
  
  /* Misc */
  --font-main: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --color-background: var(--light100);
  --color-font: var(--dark100);
  --color-font-fade: var(--dark600);
  --color-font-search: var(--dark100);
  --color-font-hover: var(--dark500);
  --search-bar: var(--light300);
  --search-bar-hover: var(--light400);
  --search-bar-dropdown-hover: var(--light500);
  --champion-0: var(--light200);
  --champion-1: var(--light100);
  --secondary-tree: var(--dark400);
  --champion-search-bar: var(--light200);
  --champion-search-bar-focus: var(--light100);
  --champion-filter-list: var(--light200);
  --champion-filter-list-hover: var(--light400);
  --champion-filter-scroll-track: var(--light400);
  --scroll-thumb: var(--light600);
  --win: var(--lightWin);
  --loss: var(--lightLoss);
  --profile-panel: var(--light300);
  --profile-panel-dec-rgb: var(--light300RGB);
  --rune-mythic-0: var(--light200_o);
  --rune-mythic-1: var(--light300_o);
  --scroll-track: var(--light500);
  --parse100: var(--parseLight1);
  --parse85: var(--parseLight2);
  --parse75: var(--parseLight3);
  --parse50: var(--parseLight4);
  --bar1: var(--dark500);
  --bar2: #214cda;
  --bar3: #4d70e1;
  --bar4: #7a94e9;
  --bar5: #a6b7f0;
  --panel1: rgba(156, 156, 156, 0.9);
  --panel2: rgba(125, 136, 233, 0.9);
  --header-stats: #145e80;
  --profile-tab: var(--light200);
  --profile-tab-active: var(--light300);
  --matches-border-top: var(--light700);
  --border-top: var(--light800);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--blue000);
    --color-font: var(--light200);
    --color-font-fade: var(--light500);
    --color-font-search: var(--dark100);
    --color-font-hover: var(--light100);
    --search-bar: var(--light300);
    --search-bar-hover: var(--light400);
    --search-bar-dropdown-hover: var(--light600);
    --champion-0: var(--dark100_o);
    --champion-1: var(--dark100_o2);
    --secondary-tree: var(--dark200);
    --champion-search-bar: var(--blue500s);
    --champion-search-bar-focus: var(--blue600s);
    --champion-filter-list: var(--blue400s);
    --champion-filter-list-hover: var(--blue100t);
    --champion-filter-scroll-track: var(--blue600s);
    --win: var(--darkWin);
    --loss: var(--darkLoss);
    --profile-panel: var(--blue300s);
    --profile-panel-dec-rgb: var(--blue100tRGB);
    --rune-mythic-0: var(--blue400s);
    --rune-mythic-1: var(--blue300s);
    --scroll-track: var(--blue000);
    --scroll-thumb: var(--blue100t);
    --parse100: var(--parseDark1);
    --parse85: var(--parseDark2);
    --parse75: var(--parseDark3);
    --parse50: var(--parseDark4);
    --bar1: var(--light100);
    --bar2: #75a6e7;
    --bar3: #9ec1ee;
    --bar4: #d6e4f8;
    --bar5: #fff;
    /* --bar3: #b3d4ff;
    --bar4: #d7e9ff;
    --bar5: #96b9e7; */
    --header-stats: #61edff; 

    --panel1: rgba(110, 110, 110, 0.9);
    --panel2: rgba(81, 101, 131, 0.9);
    --profile-tab: var(--blue300s);
    --profile-tab-active: var(--blue200t);
    
    --matches-border-top: var(--dark500);
    --border-top: var(--light800);
  }
}

body {
  background: var(--color-background);
  min-height: 100vh;
  margin: 0;
  font-family: var(--font-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
   font-weight: normal;
   font-size: 2rem;
   color: var(--color-font);
}