/* UserReady.vue (headers) */
.tqp {
   display: inline-block;
   width: 32px;
}

.headers > div {
   flex: 0 0 100px;
   color: var(--color-font);
}

.headers .avg-dmg {
   padding-left: 25px;
}

/* Champion.vue */
.row-stats .avg-dmg{
   padding-left: 25px;
}

/* .cell {
   flex: 0 0 100px;
} */

.tqp-1 {
   display: flex;
   gap: 5px;
   justify-content: space-between;
   align-items: baseline;
}


/* Match.vue */
/* .match-cell {
   flex: 0 0 100px;
} */

.tqp-match {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   gap: 5px;
   /* width: 32px; */
}